form {
  margin: 2.5rem 0;
  padding: 0 4rem 4rem 4rem;
}

form p {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

label {
  font-family: font(heading);
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  margin: 0.5rem 0 0.5rem 0;
  text-transform: uppercase;
  padding-right: 2rem;

  &:first-of-type {
    margin-top: 0;
  }
}

input,
textarea {
  background: transparent;
  border: 1px solid rgba(color(white), 0.55);
  border-radius: 3px;
  color: color(white);
  font-family: font(copy);
  font-size: 1.6rem;
  margin: 0 0 0.75rem 0;
  max-width: 40rem;
  padding: 1.5rem;
  transition: border 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;

  &:focus,
  &:active {
    border-color: color(white);
  }
}

textarea {
  min-height: 20rem;
}

form .button {
  margin: 0 0 0 -1rem;
}

.contact {
  display: flex;
  align-items: center;

  @media screen and (min-width: 769px) {
    display: none;
  }
}
